In [1]:
import pandas as pd

In [2]:
movies_df = pd.read_csv(f'../Resources/movies_metadata.csv')

movies_df = movies_df[movies_df['adult'] == 'False'].drop('adult',axis='columns')
movies_df['video'] = movies_df['video'] == 'True'
movies_df['budget'] = movies_df['budget'].astype(int)
movies_df['revenue'] = movies_df['revenue'].astype(float)
movies_df['id'] = pd.to_numeric(movies_df['id'], errors='raise')
movies_df['popularity'] = pd.to_numeric(movies_df['popularity'], errors='raise')

Z:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

The following cell uses a function `more_than_15_words` to select the rows from `movies_df` that have titles with more than 15 words. In the next cell, do the same selection, but using a lambda function

In [3]:
def more_than_15_words(title):
    split_title = title.split() # split the title into a list of words
    number_of_words_in_title = len(split_title) # count the number of words in the title
    is_greater_than_15 = number_of_words_in_title > 15 # check if the number of words is greater than 15
    return is_greater_than_15 # return whether or not the title has more than 15 words

movies_df[movies_df['original_title'].map(more_than_15_words)]

,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
7241,NaN,5600000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,10338,tt0059797,en,Those Magnificent Men in Their Flying Machines...,Star studded comedy about a early 20th century...,5.191425,...,1965-06-03,29950000.0,138.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,or How I Flew from London to Paris in 25 hours...,Those Magnificent Men in Their Flying Machines...,False,6.4,40.0
7268,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,65332,tt0070061,it,"Film d'amore e d'anarchia, ovvero 'stamattina ...",Set in Fascist Italy before the outbreak of Wo...,0.614959,...,1973-02-23,0.0,120.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,Love and Anarchy,False,7.0,8.0
8420,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,22638,tt0036910,en,The Chronicle History of King Henry the Fifth ...,Olivier mustered out of the navy to film this ...,1.200979,...,1944-11-24,0.0,137.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Henry V,False,7.0,25.0
9227,NaN,0,[],NaN,22616,tt0230575,en,Night of the Day of the Dawn of the Son of the...,"The makers of this parody of ""Night of the Liv...",0.022568,...,1991-01-01,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Night of the Day of the Dawn of the Son of the...,False,5.3,4.0
14093,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,36108,tt0973844,en,Chacun son cinema ou Ce petit coup au coeur qu...,A collective film of 33 shorts directed by dif...,10.604359,...,2007-05-19,0.0,100.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}, {'iso_6...",Released,NaN,To Each His Own Cinema,False,7.2,26.0
36826,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,270936,tt1023446,en,Ellen ten Damme: As I Was Wondering Where This...,Documentary about Dutch artist Ellen ten Damme...,0.003571,...,2007-04-19,0.0,66.0,[],Released,NaN,Ellen ten Damme: As I Was Wondering Where This...,False,0.0,0.0
38511,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,132144,tt0072685,es,La batalla de Chile: La lucha de un pueblo sin...,Documents the rise of the right-wing movement ...,0.057128,...,1975-03-18,0.0,97.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,The Battle of Chile - Part I,False,6.3,4.0
38514,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,132148,tt0074187,es,La batalla de Chile: La lucha de un pueblo sin...,Chronicles the events immediately surrounding ...,0.004351,...,1976-03-13,0.0,88.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,The Battle of Chile - Part II,False,6.8,4.0
38515,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,132150,tt0078831,es,La batalla de Chile: La lucha de un pueblo sin...,Guzmán’s final instalment shifts from covering...,0.112442,...,1979-03-15,0.0,78.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,The Battle of Chile - Part III,False,6.0,3.0
44215,NaN,0,"[{'id': 12, 'name': 'Adventure'}]",NaN,85854,tt0052156,en,The Saga of the Viking Women and Their Voyage ...,A group of lonely Viking women build a ship an...,0.587937,...,1957-12-01,0.0,66.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fabulous! Spectacular! Terrifying! The raw cou...,The Saga of the Viking Women and Their Voyage ...,False,2.0,3.0

In [4]:
# Find all the movies that have more than 15 words in their title using a lambda function.
# YOUR CODE HERE

,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
7241,NaN,5600000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,10338,tt0059797,en,Those Magnificent Men in Their Flying Machines...,Star studded comedy about a early 20th century...,5.191425,...,1965-06-03,29950000.0,138.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,or How I Flew from London to Paris in 25 hours...,Those Magnificent Men in Their Flying Machines...,False,6.4,40.0
7268,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,65332,tt0070061,it,"Film d'amore e d'anarchia, ovvero 'stamattina ...",Set in Fascist Italy before the outbreak of Wo...,0.614959,...,1973-02-23,0.0,120.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,Love and Anarchy,False,7.0,8.0
8420,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,22638,tt0036910,en,The Chronicle History of King Henry the Fifth ...,Olivier mustered out of the navy to film this ...,1.200979,...,1944-11-24,0.0,137.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Henry V,False,7.0,25.0
9227,NaN,0,[],NaN,22616,tt0230575,en,Night of the Day of the Dawn of the Son of the...,"The makers of this parody of ""Night of the Liv...",0.022568,...,1991-01-01,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Night of the Day of the Dawn of the Son of the...,False,5.3,4.0
14093,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,36108,tt0973844,en,Chacun son cinema ou Ce petit coup au coeur qu...,A collective film of 33 shorts directed by dif...,10.604359,...,2007-05-19,0.0,100.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}, {'iso_6...",Released,NaN,To Each His Own Cinema,False,7.2,26.0
36826,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,270936,tt1023446,en,Ellen ten Damme: As I Was Wondering Where This...,Documentary about Dutch artist Ellen ten Damme...,0.003571,...,2007-04-19,0.0,66.0,[],Released,NaN,Ellen ten Damme: As I Was Wondering Where This...,False,0.0,0.0
38511,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,132144,tt0072685,es,La batalla de Chile: La lucha de un pueblo sin...,Documents the rise of the right-wing movement ...,0.057128,...,1975-03-18,0.0,97.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,The Battle of Chile - Part I,False,6.3,4.0
38514,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,132148,tt0074187,es,La batalla de Chile: La lucha de un pueblo sin...,Chronicles the events immediately surrounding ...,0.004351,...,1976-03-13,0.0,88.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,The Battle of Chile - Part II,False,6.8,4.0
38515,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,132150,tt0078831,es,La batalla de Chile: La lucha de un pueblo sin...,Guzmán’s final instalment shifts from covering...,0.112442,...,1979-03-15,0.0,78.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,The Battle of Chile - Part III,False,6.0,3.0
44215,NaN,0,"[{'id': 12, 'name': 'Adventure'}]",NaN,85854,tt0052156,en,The Saga of the Viking Women and Their Voyage ...,A group of lonely Viking women build a ship an...,0.587937,...,1957-12-01,0.0,66.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fabulous! Spectacular! Terrifying! The raw cou...,The Saga of the Viking Women and Their Voyage ...,False,2.0,3.0

In [5]:
def hundredfold_return(row):
    revenue = row['revenue']
    budget = row['budget']
    budget_over_1000 = budget > 1000
    revenue_over_100x = revenue > 100 * budget
    return revenue_over_100x and budget_over_1000
    
movies_df[movies_df.apply(hundredfold_return, axis=1)]

,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
219,"{'id': 182813, 'name': 'Clerks Collection', 'p...",27000,"[{'id': 35, 'name': 'Comedy'}]",http://www.miramax.com/movie/clerks/,2292,tt0109445,en,Clerks,Convenience and video store clerks Dante and R...,10.513367,...,1994-09-13,3151130.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just because they serve you doesn't mean they ...,Clerks,False,7.4,769.0
587,NaN,1488423,"[{'id': 14, 'name': 'Fantasy'}, {'id': 16, 'na...",http://movies.disney.com/snow-white-and-the-se...,408,tt0029583,en,Snow White and the Seven Dwarfs,"A beautiful girl, Snow White, takes refuge in ...",16.263878,...,1937-12-20,184925486.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The Happiest, Dopiest, Grumpiest, Sneeziest mo...",Snow White and the Seven Dwarfs,False,6.9,1973.0
893,NaN,4000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,770,tt0031381,en,Gone with the Wind,An American classic in which a manipulative wo...,14.240357,...,1939-12-15,400176459.0,238.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The greatest romance of all time!,Gone with the Wind,False,7.7,995.0
941,"{'id': 261590, 'name': 'Living Dead Collection...",114000,"[{'id': 27, 'name': 'Horror'}]",NaN,10331,tt0063350,en,Night of the Living Dead,A group of people try to survive an attack of ...,14.384198,...,1968-10-01,30000000.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"If it doesn't scare you, you're already dead!",Night of the Living Dead,False,7.5,591.0
1003,NaN,3000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,12092,tt0043274,en,Alice in Wonderland,"On a golden afternoon, young Alice follows a W...",16.488937,...,1951-07-03,572000000.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A world of wonders in One Great Picture,Alice in Wonderland,False,7.0,1557.0
1845,"{'id': 1575, 'name': 'Rocky Collection', 'post...",1000000,"[{'id': 18, 'name': 'Drama'}]",NaN,1366,tt0075148,en,Rocky,"When world heavyweight boxing champion, Apollo...",14.774066,...,1976-11-21,117235147.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,His whole life was a million-to-one shot.,Rocky,False,7.5,1843.0
1865,"{'id': 9735, 'name': 'Friday the 13th Collecti...",550000,"[{'id': 27, 'name': 'Horror'}]",NaN,4488,tt0080761,en,Friday the 13th,Camp counselors are stalked and murdered by an...,12.146747,...,1980-05-09,59754601.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They were warned...They are doomed...And on Fr...,Friday the 13th,False,6.4,622.0
1873,"{'id': 91361, 'name': 'Halloween Collection', ...",300000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.theofficialjohncarpenter.com/hallow...,948,tt0077651,en,Halloween,"In John Carpenter's horror classic, a psychoti...",13.672759,...,1978-10-25,70000000.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Night He Came Home,Halloween,False,7.4,1066.0
1909,"{'id': 87250, 'name': 'Bambi Collection', 'pos...",858000,"[{'id': 16, 'name': 'Animation'}, {'id': 18, '...",http://movies.disney.com/bambi,3170,tt0034492,en,Bambi,Bambi's tale unfolds from season to season as ...,13.698132,...,1942-08-14,267447150.0,70.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A great love story.,Bambi,False,6.8,1450.0
2248,NaN,12000,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",NaN,692,tt0069089,en,Pink Flamingos,Notorious Baltimore criminal and underground f...,5.738871,...,1972-03-12,6000000.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An exercise in poor taste.,Pink Flamingos,False,6.2,111.0
2346,"{'id': 111751, 'name': 'Texas Chainsaw Massacr...",85000,"[{'id': 27, 'name': 'Horror'}]",NaN,30497,tt0072271,en,The Texas Chain Saw Massacre,Five friends visiting their grandfather's hous...,15.526413,...,1974-10-01,30859000.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Who will survive and what will be left of them?,The Texas Chain Saw Massacre,False,7.1,617.0
2595,"{'id': 64750, 'name': 'Blair Witch Collection'...",60000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",http://www.blairwitch.com/,2667,tt0185937,en,The Blair Witch Project,In October of 1994 three student filmmakers di...,14.838386,...,1999-07-14,248000000.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The scariest movie of all time is a true story.,The Blair Witch Project,False,6.3,1090.0
3226,NaN,24500,"[{'id': 27, 'name': 'Horror'}]",NaN,28172,tt0056875,en,Blood Feast,"In the sleepy suburbs of Miami, seemingly norm...",1.783412,...,1963-06-06,4000000.0,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You'll Recoil and Shudder as You Witness the S...,Blood Feast,False,5.3,26.0
3245,"{'id': 124950, 'name': 'American Graffiti Coll...",777000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,838,tt0069704,en,American Graffiti,A couple of high school graduates spend one fi...,9.188584,...,1973-08-01,140000000.0,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Where were you in '62?,American Graffiti,False,6.9,330.0
3554,NaN,10000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,985,tt0074486,en,Eraserhead,Henry Spencer tries to survive his industrial ...,7.871001,...,1977-03-19,7000000.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Where your nightmares end...,Eraserhead,False,7.5,500.0
3580,"{'id': 8945, 'name': 'Mad Max Collection', 'po...",400000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,9659,tt0079501,en,Mad Max,"In a dystopian future Australia, a vicious bik...",11.412619,...,1979-04-12,100000000.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Maximum Force Of The Future,Mad Max,False,6.6,1235.0
4316,NaN,130000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,9462,tt0068935,cn,猛龍過江,Tang Lung arrives in Rome to help his cousins ...,11.116474,...,1972-06-01,85000000.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Colosseum . . the battleground of Bruce Le...,The Way of the Dragon,False,7.4,235.0
5206,NaN,106000,"[{'id': 18, 'name': 'Drama'}]",NaN,46691,tt0065916,en,Joe,"Bill, a wealthy businessman, confronts his jun...",0.345862,...,1970-07-15,19319254.0,107.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Keep America Beautiful,Joe,False,5.4,9.0
5340,NaN,100000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",NaN,1842,tt0068837,en,The Legend of Boggy Creek,A documentary-style drama based on true accoun...,1.522753,...,1972-08-01,22000000.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A True Story.,The Legend of Boggy Creek,False,5.6,19.0
5452,"{'id': 267922, 'name': 'The Hills Have Eyes (O...",230000,"[{'id': 27, 'name': 'Horror'}]",NaN,12262,tt0077681,en,The Hills Have Eyes,"On the way to California, a family has the mis...",4.788002,...,1977-07-22,25000000.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A nice American family. They didn't want to ki...,The Hills Have Eyes,False,6.1,145.0
6913,NaN,100000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,618,tt0004972,en,The Birth of a Nation,The Birth of A Nation is a silent film from 19...,5.113205,...,1915-02-08,11000000.0,193.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,The fiery cross of the Ku Klux Klan.,The Birth of a Nation,False,6.4,109.0
7121,NaN,70000,"[{'id': 35, 'name': 'Comedy'}, {'id': 28, 'nam...",NaN,29473,tt0073282,en,Let's Do It Again,Clyde Williams and Billy Foster are a couple o...,1.411831,...,1975-10-11,11800000.0,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"It's the same two dudes from ""Uptown Saturday ...",Let's Do It Again,False,7.7,10.0
7303,NaN,850000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,9461,tt0070034,en,Enter the Dragon,A martial artist agrees to spy on a reclusive ...,10.687757,...,1973-08-17,90000000.0,99.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Their deadly mission: to crack the forbidden i...,Enter the Dragon,False,7.3,489.0
7733,NaN,400000,"[{'id': 35, 'name': 'Comedy'}]",NaN,8193,tt0374900,en,Napoleon Dynamite,A listless and alienated teenager decides to h...,10.287419,...,2004-06-11,46118097.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,He's out to prove he's got nothing to prove.,Napoleon Dynamite,False,6.7,567.0
7788,"{'id': 475802, 'name': 'Super Size Me Collecti...",65000,"[{'id': 99, 'name': 'Documentary'}, {'id': 35,...",NaN,9372,tt0390521,en,Super Size Me,Morgan Spurlock subjects himself to a diet bas...,5.266103,...,2004-01-17,28575078.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The first ever reality-based movie ... everyth...,Super Size Me,False,6.6,520.0
8683,NaN,150000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",http://www.sonyclassics.com/badass/,5822,tt0067810,en,Sweet Sweetback's Baadasssss Song,After saving a Black Panther from some racist ...,1.435148,...,1971-04-23,15200000.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Film that THE MAN doesn't want you to see!,Sweet Sweetback's Baadasssss Song,False,4.7,19.0
9461,"{'id': 86113, 'name': 'Open Water Collection',...",130000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,83,tt0374102,en,Open Water,Two divers are left out at sea without a boat....,10.652818,...,2004-08-06,54667954.0,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Scream all you want.,Open Water,False,5.3,320.0
10660,NaN,169000,"[{'id': 35, 'name': 'Comedy'}]",NaN,9687,tt0444653,en,Keeping Mum,A pastor preoccupied with writing the perfect ...,5.742659,...,2005-12-02,18564702.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some family secrets are best kept...buried.,Keeping Mum,False,6.5,165.0
11347,NaN,100000,"[{'id': 18, 'name': 'Drama'}]",http://www.facingthegiants.com/,18925,tt0805526,en,Facing the Giants,A losing coach with an underdog football team ...,7.485908,...,2006-09-29,10178331.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Never give up. Never back down. Never lose faith.,Facing the Giants,False,6.6,64.0
11826,NaN,160000,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",http://www.foxsearchlight.com/once/,5723,tt0907657,en,Once,A vacuum repairman moonlights as a street musi...,10.357064,...,2007-03-23,20710513.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,How often do you find the right person?,Once,False,7.4,457.0
14192,"{'id': 41437, 'name': 'Paranormal Activity Col...",15000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",http://www.paranormalactivity-movie.com/,23827,tt1179904,en,Paranormal Activity,"After a young, middle class couple moves into ...",12.706424,...,2007-09-14,193355800.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What Happens When You Sleep?,Paranormal Activity,False,5.9,1351.0
15898,NaN,30000,"[{'id': 99, 'name': 'Documentary'}]",http://www.iamrogue.com/catfish,42296,tt1584016,en,Catfish,"Nev, a 24-year-old New York-based photographer...",5.174738,...,2010-09-17,3045943.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Don't let anyone tell you what it is.,Catfish,False,6.5,201.0
18338,NaN,1000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",http://www.devilinsidemovie.com,76487,tt1560985,en,The Devil Inside,"In Italy, a woman becomes involved in a series...",5.747675,...,2012-01-06,101758490.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No soul is safe.,The Devil Inside,False,4.6,263.0
31628,NaN,100000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://thegallowsmovie.com/,299245,tt2309260,en,The Gallows,20 years after a horrific accident during a sm...,7.515050,...,2015-07-10,42664410.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every School Has Its Spirit,The Gallows,False,4.9,370.0
41472,NaN,5000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,363093,tt5066556,ko,대호,While the Kingdom of Korea is under occupation...,3.447894,...,2015-12-16,11083449.0,139.0,"[{'iso_639_1': 'ja', 'name': '日本語'}, {'iso_639...",Released,NaN,The Tiger: An Old Hunter's Tale,False,7.5,17.0
42308,NaN,100000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",https://a24films.com/films/a-ghost-story,428449,tt6265828,en,A Ghost Story,"Recently deceased, a white-sheeted ghost retur...",24.339781,...,2017-07-07,15584255.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It's all about time,A Ghost Story,False,6.8,95.0

In [6]:
# Find all movies with budgets over 1000 that pulled in revenue over 100x their budget using a lambda function
# YOUR CODE HERE

,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
219,"{'id': 182813, 'name': 'Clerks Collection', 'p...",27000,"[{'id': 35, 'name': 'Comedy'}]",http://www.miramax.com/movie/clerks/,2292,tt0109445,en,Clerks,Convenience and video store clerks Dante and R...,10.513367,...,1994-09-13,3151130.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just because they serve you doesn't mean they ...,Clerks,False,7.4,769.0
587,NaN,1488423,"[{'id': 14, 'name': 'Fantasy'}, {'id': 16, 'na...",http://movies.disney.com/snow-white-and-the-se...,408,tt0029583,en,Snow White and the Seven Dwarfs,"A beautiful girl, Snow White, takes refuge in ...",16.263878,...,1937-12-20,184925486.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The Happiest, Dopiest, Grumpiest, Sneeziest mo...",Snow White and the Seven Dwarfs,False,6.9,1973.0
893,NaN,4000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,770,tt0031381,en,Gone with the Wind,An American classic in which a manipulative wo...,14.240357,...,1939-12-15,400176459.0,238.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The greatest romance of all time!,Gone with the Wind,False,7.7,995.0
941,"{'id': 261590, 'name': 'Living Dead Collection...",114000,"[{'id': 27, 'name': 'Horror'}]",NaN,10331,tt0063350,en,Night of the Living Dead,A group of people try to survive an attack of ...,14.384198,...,1968-10-01,30000000.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"If it doesn't scare you, you're already dead!",Night of the Living Dead,False,7.5,591.0
1003,NaN,3000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,12092,tt0043274,en,Alice in Wonderland,"On a golden afternoon, young Alice follows a W...",16.488937,...,1951-07-03,572000000.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A world of wonders in One Great Picture,Alice in Wonderland,False,7.0,1557.0
1845,"{'id': 1575, 'name': 'Rocky Collection', 'post...",1000000,"[{'id': 18, 'name': 'Drama'}]",NaN,1366,tt0075148,en,Rocky,"When world heavyweight boxing champion, Apollo...",14.774066,...,1976-11-21,117235147.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,His whole life was a million-to-one shot.,Rocky,False,7.5,1843.0
1865,"{'id': 9735, 'name': 'Friday the 13th Collecti...",550000,"[{'id': 27, 'name': 'Horror'}]",NaN,4488,tt0080761,en,Friday the 13th,Camp counselors are stalked and murdered by an...,12.146747,...,1980-05-09,59754601.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They were warned...They are doomed...And on Fr...,Friday the 13th,False,6.4,622.0
1873,"{'id': 91361, 'name': 'Halloween Collection', ...",300000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.theofficialjohncarpenter.com/hallow...,948,tt0077651,en,Halloween,"In John Carpenter's horror classic, a psychoti...",13.672759,...,1978-10-25,70000000.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Night He Came Home,Halloween,False,7.4,1066.0
1909,"{'id': 87250, 'name': 'Bambi Collection', 'pos...",858000,"[{'id': 16, 'name': 'Animation'}, {'id': 18, '...",http://movies.disney.com/bambi,3170,tt0034492,en,Bambi,Bambi's tale unfolds from season to season as ...,13.698132,...,1942-08-14,267447150.0,70.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A great love story.,Bambi,False,6.8,1450.0
2248,NaN,12000,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",NaN,692,tt0069089,en,Pink Flamingos,Notorious Baltimore criminal and underground f...,5.738871,...,1972-03-12,6000000.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An exercise in poor taste.,Pink Flamingos,False,6.2,111.0
2346,"{'id': 111751, 'name': 'Texas Chainsaw Massacr...",85000,"[{'id': 27, 'name': 'Horror'}]",NaN,30497,tt0072271,en,The Texas Chain Saw Massacre,Five friends visiting their grandfather's hous...,15.526413,...,1974-10-01,30859000.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Who will survive and what will be left of them?,The Texas Chain Saw Massacre,False,7.1,617.0
2595,"{'id': 64750, 'name': 'Blair Witch Collection'...",60000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",http://www.blairwitch.com/,2667,tt0185937,en,The Blair Witch Project,In October of 1994 three student filmmakers di...,14.838386,...,1999-07-14,248000000.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The scariest movie of all time is a true story.,The Blair Witch Project,False,6.3,1090.0
3226,NaN,24500,"[{'id': 27, 'name': 'Horror'}]",NaN,28172,tt0056875,en,Blood Feast,"In the sleepy suburbs of Miami, seemingly norm...",1.783412,...,1963-06-06,4000000.0,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You'll Recoil and Shudder as You Witness the S...,Blood Feast,False,5.3,26.0
3245,"{'id': 124950, 'name': 'American Graffiti Coll...",777000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,838,tt0069704,en,American Graffiti,A couple of high school graduates spend one fi...,9.188584,...,1973-08-01,140000000.0,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Where were you in '62?,American Graffiti,False,6.9,330.0
3554,NaN,10000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,985,tt0074486,en,Eraserhead,Henry Spencer tries to survive his industrial ...,7.871001,...,1977-03-19,7000000.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Where your nightmares end...,Eraserhead,False,7.5,500.0
3580,"{'id': 8945, 'name': 'Mad Max Collection', 'po...",400000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,9659,tt0079501,en,Mad Max,"In a dystopian future Australia, a vicious bik...",11.412619,...,1979-04-12,100000000.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Maximum Force Of The Future,Mad Max,False,6.6,1235.0
4316,NaN,130000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,9462,tt0068935,cn,猛龍過江,Tang Lung arrives in Rome to help his cousins ...,11.116474,...,1972-06-01,85000000.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Colosseum . . the battleground of Bruce Le...,The Way of the Dragon,False,7.4,235.0
5206,NaN,106000,"[{'id': 18, 'name': 'Drama'}]",NaN,46691,tt0065916,en,Joe,"Bill, a wealthy businessman, confronts his jun...",0.345862,...,1970-07-15,19319254.0,107.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Keep America Beautiful,Joe,False,5.4,9.0
5340,NaN,100000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",NaN,1842,tt0068837,en,The Legend of Boggy Creek,A documentary-style drama based on true accoun...,1.522753,...,1972-08-01,22000000.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A True Story.,The Legend of Boggy Creek,False,5.6,19.0
5452,"{'id': 267922, 'name': 'The Hills Have Eyes (O...",230000,"[{'id': 27, 'name': 'Horror'}]",NaN,12262,tt0077681,en,The Hills Have Eyes,"On the way to California, a family has the mis...",4.788002,...,1977-07-22,25000000.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A nice American family. They didn't want to ki...,The Hills Have Eyes,False,6.1,145.0
6913,NaN,100000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,618,tt0004972,en,The Birth of a Nation,The Birth of A Nation is a silent film from 19...,5.113205,...,1915-02-08,11000000.0,193.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,The fiery cross of the Ku Klux Klan.,The Birth of a Nation,False,6.4,109.0
7121,NaN,70000,"[{'id': 35, 'name': 'Comedy'}, {'id': 28, 'nam...",NaN,29473,tt0073282,en,Let's Do It Again,Clyde Williams and Billy Foster are a couple o...,1.411831,...,1975-10-11,11800000.0,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"It's the same two dudes from ""Uptown Saturday ...",Let's Do It Again,False,7.7,10.0
7303,NaN,850000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,9461,tt0070034,en,Enter the Dragon,A martial artist agrees to spy on a reclusive ...,10.687757,...,1973-08-17,90000000.0,99.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Their deadly mission: to crack the forbidden i...,Enter the Dragon,False,7.3,489.0
7733,NaN,400000,"[{'id': 35, 'name': 'Comedy'}]",NaN,8193,tt0374900,en,Napoleon Dynamite,A listless and alienated teenager decides to h...,10.287419,...,2004-06-11,46118097.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,He's out to prove he's got nothing to prove.,Napoleon Dynamite,False,6.7,567.0
7788,"{'id': 475802, 'name': 'Super Size Me Collecti...",65000,"[{'id': 99, 'name': 'Documentary'}, {'id': 35,...",NaN,9372,tt0390521,en,Super Size Me,Morgan Spurlock subjects himself to a diet bas...,5.266103,...,2004-01-17,28575078.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The first ever reality-based movie ... everyth...,Super Size Me,False,6.6,520.0
8683,NaN,150000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",http://www.sonyclassics.com/badass/,5822,tt0067810,en,Sweet Sweetback's Baadasssss Song,After saving a Black Panther from some racist ...,1.435148,...,1971-04-23,15200000.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Film that THE MAN doesn't want you to see!,Sweet Sweetback's Baadasssss Song,False,4.7,19.0
9461,"{'id': 86113, 'name': 'Open Water Collection',...",130000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,83,tt0374102,en,Open Water,Two divers are left out at sea without a boat....,10.652818,...,2004-08-06,54667954.0,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Scream all you want.,Open Water,False,5.3,320.0
10660,NaN,169000,"[{'id': 35, 'name': 'Comedy'}]",NaN,9687,tt0444653,en,Keeping Mum,A pastor preoccupied with writing the perfect ...,5.742659,...,2005-12-02,18564702.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some family secrets are best kept...buried.,Keeping Mum,False,6.5,165.0
11347,NaN,100000,"[{'id': 18, 'name': 'Drama'}]",http://www.facingthegiants.com/,18925,tt0805526,en,Facing the Giants,A losing coach with an underdog football team ...,7.485908,...,2006-09-29,10178331.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Never give up. Never back down. Never lose faith.,Facing the Giants,False,6.6,64.0
11826,NaN,160000,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",http://www.foxsearchlight.com/once/,5723,tt0907657,en,Once,A vacuum repairman moonlights as a street musi...,10.357064,...,2007-03-23,20710513.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,How often do you find the right person?,Once,False,7.4,457.0
14192,"{'id': 41437, 'name': 'Paranormal Activity Col...",15000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",http://www.paranormalactivity-movie.com/,23827,tt1179904,en,Paranormal Activity,"After a young, middle class couple moves into ...",12.706424,...,2007-09-14,193355800.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What Happens When You Sleep?,Paranormal Activity,False,5.9,1351.0
15898,NaN,30000,"[{'id': 99, 'name': 'Documentary'}]",http://www.iamrogue.com/catfish,42296,tt1584016,en,Catfish,"Nev, a 24-year-old New York-based photographer...",5.174738,...,2010-09-17,3045943.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Don't let anyone tell you what it is.,Catfish,False,6.5,201.0
18338,NaN,1000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",http://www.devilinsidemovie.com,76487,tt1560985,en,The Devil Inside,"In Italy, a woman becomes involved in a series...",5.747675,...,2012-01-06,101758490.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No soul is safe.,The Devil Inside,False,4.6,263.0
31628,NaN,100000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://thegallowsmovie.com/,299245,tt2309260,en,The Gallows,20 years after a horrific accident during a sm...,7.515050,...,2015-07-10,42664410.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every School Has Its Spirit,The Gallows,False,4.9,370.0
41472,NaN,5000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,363093,tt5066556,ko,대호,While the Kingdom of Korea is under occupation...,3.447894,...,2015-12-16,11083449.0,139.0,"[{'iso_639_1': 'ja', 'name': '日本語'}, {'iso_639...",Released,NaN,The Tiger: An Old Hunter's Tale,False,7.5,17.0
42308,NaN,100000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",https://a24films.com/films/a-ghost-story,428449,tt6265828,en,A Ghost Story,"Recently deceased, a white-sheeted ghost retur...",24.339781,...,2017-07-07,15584255.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It's all about time,A Ghost Story,False,6.8,95.0

In [7]:
# load in list of English words
words_file = '../Resources/words.txt'

words_df = pd.read_csv(words_file, sep='\n', header=None)
words_df.columns = ['text']
words_df.head()

  text
0  the
1   of
2  and
3   to
4    a

In [8]:
def contains_x(word):
    split_word = list(word)
    word_contains_x = 'x' in split_word
    return word_contains_x

words_df[words_df['text'].map(contains_x)]

              text
97               x
120           next
274          index
347           text
449            box
...            ...
9748       expects
9759  examinations
9791       halifax
9808      examines
9872      lightbox

[246 rows x 1 columns]

In [9]:
# Find all words containing the letter 'x' using a lambda function
# YOUR CODE HERE

              text
97               x
120           next
274          index
347           text
449            box
...            ...
9748       expects
9759  examinations
9791       halifax
9808      examines
9872      lightbox

[246 rows x 1 columns]