# Install Dependencies

In [1]:
import pandas as pd
from path import Path

# Import Data

In [7]:
# Create path and read in data
# Create path and read in data
data = Path("../Resources/mpg.csv")
df = pd.read_csv(data, na_values='?')

# Explore Data

In [8]:
# Preview data
print(df.shape)
df.head()

(398, 9)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [9]:
# Check data types
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [10]:
# Drop the records missing `horsepower` values
df.dropna(inplace=True)

In [11]:
# Convert the `horsepower` field to be an integer type
df['horsepower'] = df['horsepower'].astype(int)

In [12]:
# Convert the `origin` field to be a string type
df['origin'] = df['origin'].astype(str)

In [13]:
# Drop the `car name` field
df = df.drop(["car name"],1)

In [14]:
# Review results
print(df.shape)
print(df.dtypes)
df.head()

(392, 8)
mpg             float64
cylinders         int64
displacement    float64
horsepower        int64
weight            int64
acceleration    float64
model year        int64
origin           object
dtype: object

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130,3504,12.0,70,1
1,15.0,8,350.0,165,3693,11.5,70,1
2,18.0,8,318.0,150,3436,11.0,70,1
3,16.0,8,304.0,150,3433,12.0,70,1
4,17.0,8,302.0,140,3449,10.5,70,1